@use '@/styles/index.scss' as *;
@import '@/styles/mixins/mixinChip';

.num {
  padding: 3px 6px;
  border-radius: 4px;
  background-color: $gray-ee;
  width: fit-content;

  @include font-style(12, 500);
  line-height: 14.32px;
  color: $gray-78;
}

.add {
  @include Flex(row, center, center);
  width: 22px;
  height: 22px;
  padding: 3px;
  border-radius: 4px;

  background-color: $violet-8;
  color: $violet;

  @include mobile {
    width: 20px;
    height: 20px;
  }
}
.progress {
  padding: 4px 8px;
  border-radius: 11px;
  width: fit-content;

  @include Flex(row, null, center);
  gap: 3px;

  @include font-style(10, 400);
  line-height: 12px;

  @include getProgressChipColor('violet');
  svg {
    @include getCircleColor('violet');
  }
}

.pink {
  @include getProgressChipColor('pink');

  svg {
    @include getCircleColor('pink');
  }
}

.green {
  @include getProgressChipColor('green');

  svg {
    @include getCircleColor('green');
  }
}

.orange {
  @include getProgressChipColor('orange');

  svg {
    @include getCircleColor('orange');
  }
}

.blue {
  @include getProgressChipColor('blue');

  svg {
    @include getCircleColor('blue');
  }
}
