$black: #000000;
$black-17: #171717;
$black-33: #333236;
$black-4b: #4b4b4b;
$gray-78: #787486;
$gray-9f: #9fa6b2;
$gray-d9: #d9d9d9;
$gray-ee: #eeeeee;
$gray-fa: #fafafa;
$gray-f5: #f5f5f5;
$white: #ffffff;
$violet: #5534da;
$violet-8: #f1effd;
$red: #d6173a;
$green: #7ac555;
$purple: #760dde;
$orange: #ffa500;
$blue: #76a5ea;
$pink: #e876ea;
$green-e7: #e7f7db;
$orange-f9: #f9eee3;
$pink-f7: #f7dbf0;
$blue: #4981d5;
$blue-db: #dbe6f7;

$main-yellow: #fdbe10;
$facebook-color: #3b5998;
$instagram-color: #e1306c;

$GRAY6: #dcdcdc;
$BG_COLOR: #282c34;
$WHITE: #ffffff;
$ORANGE: #ff4500;

$success-color: #53d06a;
$error-color: #ee5c37;
$white-fe: #fefefe;

$back-yellow: #fdf4d4;
$main-yellow-active: #fdb400;

// 임시 컬러입니다
// $dark-theme: #121212;
$dark-theme: #212121;

$dark-black: #ffffff; // $black에 대응
$dark-black-17: #e8e8e8; // $black-17에 대응
$dark-black-33: #cccccc; // $black-33에 대응
$dark-black-4b: #b4b4b4; // $black-4b에 대응
$dark-gray-78: #878787; // $gray-78에 대응
$dark-gray-9f: #606060; // $gray-9f에 대응
$dark-gray-d9: #262626; // $gray-d9에 대응
$dark-gray-ee: #111111; // $gray-ee에 대응
$dark-gray-fa: #050505; // $gray-fa에 대응
$dark-gray-f5: #0a0a0a; // $gray-f5에 대응
